// Config

// fonts
$main-font: '';
$heading-font: 'arial, sans-serif';

$base-font-size: 12px;

// colors
$link:		#cc0000;
$heading: 	#666;
$copy: 		#999;

// shapes
$radius: 7px;


// breakpoints
$breakpoint-mobile: 340px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

